<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68148621395-0ip7m0o72t2nretm6vclfie71sv9s4h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68148621395-0ip7m0o72t2nretm6vclfie71sv9s4h1</string>
	<key>API_KEY</key>
	<string>AIzaSyB0aRVnSiPDAvWl_QenfuycGczysBu_0ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>68148621395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garbageCollectorApp</string>
	<key>PROJECT_ID</key>
	<string>garbage-collector-d114a</string>
	<key>STORAGE_BUCKET</key>
	<string>garbage-collector-d114a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68148621395:ios:05ca38290d81654d8c56a6</string>
</dict>
</plist>